name: "KiBot GitHub Action"

on:
  workflow_dispatch:
  push:
    paths:
      - '*.kicad_sch'
      - '*.kicad_pcb'
      - '*kibot.yaml'

jobs:
  kibot:
    name: "KiBot"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Replace vars
      run: |
        DATE=$(TZ=Europe/Berlin date --iso-8601=minutes)
        sed -i "s|{kibot_date}|$DATE|g" *.kicad_*

        REV=$(git log -1 --format="%h" ZEReader-Pico.kicad_pcb)
        sed -i "s/{kibot_git-hash}/$REV/g" *.kicad_*

    - name: Run KiBot
      uses: INTI-CMNB/KiBot@v1.8.4
      with:
        config: 'zereader-pico.kibot.yaml'
        dir: KiBot_Outputs
        schema: 'ZEReader-Pico.kicad_sch'

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: KiBot_Outputs
        path: KiBot_Outputs
